[flake8]
max-line-length = 88  # Максимальная длина строки (например, как в black)
ignore = E203, E266, E501, W503  # Список ошибок и предупреждений, которые нужно игнорировать
exclude = # Файлы и каталоги, которые нужно исключить из проверки
    .git,
    __pycache__,
